/*************************************

spectrum

****************************************/
#spectrum {
  position: fixed;
  overflow: hidden;
  height: 90vh;
  display: flex;
  align-items: flex-end;
  transform: rotate(0);
  top: 0;
  left: 0;
  transform-origin: bottom;
}
/*************************************

audiobarsgit

****************************************/
.audiobar {
  width: calc(1vw - 1px);
  height: 100%;
  /*min-height: 10px !important;*/
  background: #161616;
  border-radius: 10px;
  transition: 0.1s;
  transform-origin: bottom;
  will-change: transform;
}
.audiobar + .audiobar {
  margin-left: 5px;
}
