* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #ff0062;
  --alt-color: #7f003a;
  --bg-color: #3a3a3a;
  --gray-color: #212121;
  --black-color: #161616;
}

body {
  background: var(--bg-color);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

h1,
#topbar {
  color: white;
  font-size: 15px;
}

h1 {
  margin: 0;
  padding-left: 1em;
}

main {
  height: calc(100vh - 173px - 60px);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  width: 100%;
  height: 60px;
  background: var(--black-color);
  display: flex;
  align-items: center;
}

#logo-container {
  width: 4rem;
}

#timeline {
  width: 100%;
  margin: 0 auto;
  background: var(--gray-color);
  position: relative;
}

#timeline-top {
  background: var(--black-color);
  width: 100%;
  height: 30px;
}

#line {
  position: relative;
  height: 143px;
  width: 100%;
}

#white_line {
  height: 5px;
  width: 100%;
  background: var(--main-color);
  border-radius: 5px;
  top: 48%;
  margin: auto;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  color: var(--main-color);
  left: 50%;
  transform: translate(-50%);
}

.circle:not(.main):not(.prev):not(.next):hover {
  background: var(--alt-color);
  color: #fff;
}

.circle.main {
  background: var(--main-color);
  color: white;
  transition: 0.3s;
  width: 110px;
  height: 110px;
  top: -30px;
  line-height: 102px;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.circle.prev,
.circle.next {
  background: var(--alt-color);
  transition: 0.3s;
  width: 70px;
  height: 70px;
  top: -10px;
  line-height: 62px;
  font-size: 18px;
  color: white;
}

.timeline_circles {
  width: 100%;
  margin-top: 41px;
  transform: translateX(0);
}

/************************

  Modal container / Content

***********************/
#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  width: 70%;
  height: 80%;
  background: var(--gray-color);
  box-shadow: 10px 10px 0 var(--main-color), 20px 20px 0 var(--alt-color);
  z-index: 1;
}

#topbar {
  grid-column: 1 / -1;
  background: var(--black-color);
  color: white;
  padding: 15px;
}

#modalMusicContainer {
  display: flex;
  align-items: center;
}

#content article:last-child {
  overflow-y: scroll;
}

#description::-webkit-scrollbar {
  width: 10px;
}

#description::-webkit-scrollbar-track {
  --black-color: #161616;
}

#description::-webkit-scrollbar-thumb {
  background: #8652d0;
  border-radius: 10px;
}

#description::-webkit-scrollbar-thumb:hover {
  background: rgba(134, 82, 208, 0.5);
}

/* -------------------------- music player and donut chart */
.play-song-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.donut-base {
  stroke: #5126a3;
}

#donutFill {
  stroke: #8652d0;
  animation: donut 3s;
}

@keyframes donut {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 100, 0;
  }
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: white;
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut {
  width: 4rem;
}

#progressDonut {
  margin-left: 20px;
}

/* ---------------------------------- progress donut time */
.time-donut-base {
  stroke: #105c5e;
}

#timeDonutFill {
  stroke: #21bfd6;
  animation: donut 3s;
}

/* ----------------------------------- play and stop btn */
#playBtn {
  width: 3.5rem;
}

#play-button-SVG {
  margin-left: 13em;
}

#playBtn:hover {
  cursor: pointer;
}

#stopMusic {
  display: none;
}

/*************************************

spectrum

****************************************/
#spectrum {
  position: absolute;
  overflow: hidden;
  height: 90%;
  display: flex;
  align-items: flex-end;
  transform: rotate(0);
  bottom: -1px;
  left: 0;
  transform-origin: bottom;
  pointer-events: none;
  z-index: 0;
  margin: 0 0 0 calc(0px - 1vw);
}

/*************************************

audiobars

****************************************/
.audiobar {
  width: calc(1vw - 1px);
  height: 100%;
  background: var(--black-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.1s;
  transform-origin: bottom;
  will-change: transform;
}

.audiobar+.audiobar {
  margin-left: 5px;
}

/***************************

  SVG Animation

***************************/
#masking rect {
  --fade-out: 0.2;
  --fade-in: 1;
  --delay: 0.5s;

  --time: 1s;
  opacity: var(--fade-in);
}

#masking rect:nth-child(1) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(2) {
  animation: blink calc(var(--time) + 0.5s) calc(var(--delay) + 0.5s) infinite;
}

#masking rect:nth-child(3) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(7) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(9) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(13) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(16) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(19) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(30) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(33) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(35) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(40) {
  animation: blink calc(var(--time) + 1s) infinite;
}

#masking rect:nth-child(42) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(52) {
  animation: blink var(--time) var(--delay) infinite;
}

#masking rect:nth-child(61) {
  animation: blink var(--time) infinite;
}

#masking rect:nth-child(64) {
  animation: blink var(--time) infinite;
}

@keyframes blink {
  0% {
    opacity: var(--fade-in);
  }

  59% {
    opacity: var(--fade-in);
  }

  60% {
    opacity: var(--fade-out);
  }

  100% {
    opacity: var(--fade-out);
  }
}

@media only screen and (min-width: 666px) {
  .content {
    width: 660px;
  }
}
