* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #3a3a3a;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

main {
  height: calc(100vh - 173px - 60px);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 60px;
  background: #161616;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 15px;
  padding-left: 1em;
}

#logo-container {
  width: 4rem;
}

#timeline {
  width: 100%;
  margin: 0 auto;
  background: #212121;
  position: relative;
}

#timeline-top {
  background: #161616;
  width: 100%;
  height: 30px;
}

#line {
  position: relative;
  /* overflow: hidden;
  width: 600px; 
  margin: auto; */
  height: 143px;
  width: 100%;
}

#white_line {
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 5px;
  top: 48%;
  margin: auto;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background: #ff0062;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  border: 3px solid white;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  transform: translateX(-50%);
  font-size: 13px;
  color: #ff0062;
  left: 50%;
  transform: translate(-50%);
}

.circle:not(.main):not(.prev):not(.next):hover {
  background: #21bfd6;
  color: #fff;
}

.circle.main {
  background: #21bfd6;
  color: white;
  transition: 0.3s;
  width: 110px;
  height: 110px;
  top: -30px;
  line-height: 102px;
  font-size: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.circle.prev,
.circle.next {
  background: #009aff;
  transition: 0.3s;
  width: 70px;
  height: 70px;
  top: -10px;
  line-height: 62px;
  font-size: 18px;
  color: white
}

.timeline_circles {
  width: 100%;
  margin-top: 41px;
  transform: translateX(0);
}

.infobox {
  position: absolute;
  width: 100%;
  color: #009aff;
  display: none;
  top: 15%;
}

#container {
  width: 100%;
  height: 300px;
  background: #212121;
  margin: 0 auto;
  position: relative;
}

.music-container {
  position: absolute;
  width: 100%;
  bottom: 25px;
  padding-left: 50px;
  z-index: 99;
}

.content {
  width: 100%;
}

.container-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: #161616;
}

.show {
  display: block;
}

.modal-img {
  width: 200px;
  float: left;
  margin: 25px 0px 0px 35px;
}

.modal-img img {
  width: 100%;
}

.modal-position {
  float: left;
  margin: 25px 0 0 20px;
}

.modal-h1 {
  font-size: 25px;
}

.modal-h2 {
  font-size: 15px;
  margin-top: 15px;
}

/* -------------------------- music player and donut chart */
.play-song-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.donut-base {
  stroke: #5126a3;
}

#donutFill {
  stroke: #8652d0;
  animation: donut 3s;
}

@keyframes donut {
  0% {
    stroke-dasharray: 0, 100;
  }

  100% {
    stroke-dasharray: 100, 0;
  }
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: white;
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut {
  width: 4rem;
}

#progressDonut {
  margin-left: 20px;
}

/* ----------------------------------- play and stop btn */
#playBtn {
  width: 3.5rem;
}

#play-button-SVG {
  margin-left: 13em;
}

#playBtn:hover {
  cursor: pointer;
}

#stopMusic {
  display: none;
}

@media only screen and (min-width: 666px) {
  .content {
    width: 660px;
  }

  header h1 {
    font-size: 22px;
    padding-left: 2em;
  }
}