* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #3a3a3a;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: #161616;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  color: white;
  font-size: 22px;
  padding-left: 7em;
}

#timeline {
  width: 100%;
  margin: 7.6em auto;
  background: #212121;
  position: relative;
}

#timeline-top {
  position: absolute;
  top: -30px;
  background: #161616;
  width: 100%;
  height: 30px;
}

#line {
  position: relative;
  /* overflow: hidden;
  width: 600px; 
  margin: auto; */
  height: 143px;
}

#white_line {
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 5px;
  top: 48%;
  margin: auto;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  background: #ff0062;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  border: 3px solid white;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  transform: translateX(-50%);
  font-size: 13px;
  color: #ff0062;
}


.circle:not(.main):not(.prev):not(.next):hover {
  background: #21bfd6;
  color: #fff;
}

.circle.main {
  background: #21bfd6;
  color: white;
  transition: 0.3s;
  width: 110px;
  height: 110px;
  top: -30px;
  line-height: 102px;
  font-size: 30px;
}

.circle.prev,
.circle.next {
  background: #009aff;
  transition: 0.3s;
  width: 70px;
  height: 70px;
  top: -10px;
  line-height: 62px;
  font-size: 18px;
  color: white
}

.timeline_circles {
  margin-top: 41px;
}

.infobox {
  position: absolute;
  width: 100%;
  color: #009aff;
  display: none;
  top: 15%;
}

#container {
  width: 40%;
  height: 300px;
  background: #212121;
  margin: 6em auto;
  position: relative;
}

.container-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: #161616;
}

.show {
  display: block;
}